openapi: 3.0.3
info:
  title: Lombok Explorer API
  description: |
    API Contract untuk Lombok Explorer — Platform eksplorasi wisata, rekomendasi cerdas, 
    dan perencanaan perjalanan (itinerary planner) pulau Lombok, Nusa Tenggara Barat.
  version: 1.0.0
  contact:
    name: Lombok Explorer Team
    email: support@lombokexplorer.com

servers:
  - url: https://api.lombokexplorer.com/api/v1
    description: Production Server (v1)
  - url: http://localhost:8080/api/v1
    description: Local Development Server (v1)
  - url: http://localhost:8080/v1
    description: Legacy Compatibility Alias Server

tags:
  - name: Authentication
    description: User authentication, JWT issuance, password login, and session management
  - name: Google Authentication
    description: Google Sign-In with ID Token verification and complete registration flow
  - name: Account Linking
    description: Managing and linking multiple authentication methods to a single user account
  - name: Weather
    description: Live weather data and forecasts for Lombok regions and tourism spots
  - name: Health
    description: System health and readiness probes
  - name: Destinations
    description: Tourism destination discovery, filtering, and search
  - name: Categories
    description: Destination categories and classifications
  - name: Itineraries
    description: Travel itinerary planning and generation
  - name: Reviews
    description: Destination reviews and ratings
  - name: Feeds & Community
    description: Social feeds timeline, travel posts, media attachments, likes, comments, bookmarks, and sharing
  - name: Device Tokens
    description: Registration and management of FCM device tokens for mobile push notifications
  - name: Notifications
    description: In-app user notifications, unread count tracking, and read state synchronization
  - name: Users
    description: User profile management, username availability checks, and profile feeds
  - name: Media Storage
    description: Centralized image and media storage powered by Cloudinary with automatic optimization (f_auto, q_auto) and responsive variants
  - name: Admin
    description: Administrative APIs and content management

paths:
  # ==========================================
  # SYSTEM & HEALTH
  # ==========================================
  /health:
    get:
      summary: Health check and service readiness status
      operationId: getHealth
      tags:
        - Health
      responses:
        '200':
          description: Service is healthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SystemHealthResponse'
        '503':
          description: Service is degraded or database unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /health/ready:
    get:
      summary: Readiness probe for orchestrators and container health
      operationId: getReadiness
      tags:
        - Health
      responses:
        '200':
          description: Service is ready and database connection is active
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok
                  database:
                    type: string
                    example: connected
                  uptime:
                    type: integer
                    example: 3600
        '503':
          description: Database disconnected or service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /health/live:
    get:
      summary: Liveness probe for orchestrators and load balancers
      operationId: getLiveness
      tags:
        - Health
      responses:
        '200':
          description: Service process is alive
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardActionResponse'


  # ==========================================
  # WEATHER (PUBLIC / GUEST FRIENDLY)
  # ==========================================
  /weather:
    get:
      summary: Get live weather data for Lombok or specific location/region
      description: |
        Returns live temperature, condition, humidity, wind, UV index, and weather icon.
        Supports filtering by LombokRegion enum, GPS coordinates (lat/lng), or location name query.
      operationId: getWeather
      tags:
        - Weather
      parameters:
        - name: region
          in: query
          description: Lombok region
          required: false
          schema:
            $ref: '#/components/schemas/LombokRegion'
        - name: lat
          in: query
          description: Latitude coordinate
          required: false
          schema:
            type: number
            example: -8.892
        - name: lng
          in: query
          description: Longitude coordinate
          required: false
          schema:
            type: number
            example: 116.295
        - name: location
          in: query
          description: Specific location name (e.g. Senggigi, Kuta, Sembalun)
          required: false
          schema:
            type: string
            example: Senggigi
        - name: q
          in: query
          description: Free-text search query for location
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Current weather retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WeatherResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /weather/current:
    get:
      summary: Alias for GET /weather (Get current weather data)
      description: Explicit current weather endpoint alias.
      operationId: getCurrentWeather
      tags:
        - Weather
      parameters:
        - name: region
          in: query
          description: Lombok region
          required: false
          schema:
            $ref: '#/components/schemas/LombokRegion'
        - name: lat
          in: query
          description: Latitude coordinate
          required: false
          schema:
            type: number
            example: -8.892
        - name: lng
          in: query
          description: Longitude coordinate
          required: false
          schema:
            type: number
            example: 116.295
        - name: location
          in: query
          description: Specific location name
          required: false
          schema:
            type: string
            example: Senggigi
        - name: q
          in: query
          description: Free-text search query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Current weather retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WeatherResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError'


  # ==========================================
  # AUTHENTICATION & USERS
  # ==========================================
  /auth/register:
    post:
      summary: Register a new user traveler account
      operationId: registerUser
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterRequest'
      responses:
        '201':
          description: User registered successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '409':
          description: Email already registered
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                success: false
                message: "Email address is already in use"
                errorCode: "EMAIL_ALREADY_EXISTS"
        '500':
          $ref: '#/components/responses/InternalServerError'

  /auth/login:
    post:
      summary: Authenticate user and obtain JWT tokens
      operationId: loginUser
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Authentication successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          description: Invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                success: false
                message: "Invalid email or password"
                errorCode: "INVALID_CREDENTIALS"
        '500':
          $ref: '#/components/responses/InternalServerError'

  /auth/google:
    post:
      summary: Authenticate user with verified Google ID Token (Google Sign-In)
      description: |
        Authenticates user with a cryptographically verified Google ID Token.
        - If Google identity is already linked -> logs in directly.
        - If Google identity is not yet linked but email matches existing account -> links Google account to existing user and logs in.
        - If user does not exist -> returns REGISTRATION_REQUIRED with short-lived registrationToken.
      operationId: googleLogin
      tags:
        - Google Authentication
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleAuthRequest'
      responses:
        '200':
          description: Login or registration required response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleAuthResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          description: Invalid or expired Google ID Token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                success: false
                message: "Google token verification failed: Invalid signature or expired token"
                errorCode: "INVALID_GOOGLE_TOKEN"
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /auth/google/register:
    post:
      summary: Complete user registration with Google account and set password
      description: |
        Completes registration for a new user using a signed `registrationToken` received from `POST /auth/google`.
        Creates User record, sets initial password hash, links Google `AuthIdentity`, and returns active JWT session.
      operationId: completeGoogleRegistration
      tags:
        - Google Authentication
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompleteGoogleRegistrationRequest'
      responses:
        '201':
          description: Registration successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompleteGoogleRegistrationResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          description: Invalid or expired registration token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                success: false
                message: "Registration token has expired. Please sign in with Google again."
                errorCode: "REGISTRATION_TOKEN_EXPIRED"
        '409':
          $ref: '#/components/responses/ConflictError'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /auth/google/link:
    post:
      summary: Link Google account to currently authenticated user
      description: Verifies Google ID Token and links Google identity to authenticated user.
      operationId: linkGoogleAccount
      tags:
        - Account Linking
        - Google Authentication
        - Authentication
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleAuthRequest'
      responses:
        '200':
          description: Google account linked successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '409':
          description: Google account already linked to another user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                success: false
                message: "Google account is already linked to another user"
                errorCode: "GOOGLE_ACCOUNT_ALREADY_LINKED"
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      summary: Unlink Google account from currently authenticated user
      description: Removes linked Google identity from user account if password or another auth method exists.
      operationId: unlinkGoogleAccount
      tags:
        - Account Linking
        - Google Authentication
        - Authentication
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Google account unlinked successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionSuccessResponse'
        '400':
          description: Cannot unlink the only authentication method
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                success: false
                message: "Cannot unlink the only authentication method"
                errorCode: "ONLY_AUTH_METHOD"
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /auth/providers:
    get:
      summary: Get active authentication methods/providers for current user
      description: Returns boolean indicators for password and Google sign-in support on the account.
      operationId: getAuthProviders
      tags:
        - Account Linking
        - Authentication
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Active auth providers retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthProvidersResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /auth/refresh-token:
    post:
      summary: Refresh expired access token using refresh token
      operationId: refreshToken
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefreshTokenRequest'
      responses:
        '200':
          description: Token refreshed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /auth/me:
    get:
      summary: Get currently authenticated user profile
      operationId: getCurrentUser
      tags:
        - Authentication
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Current user profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProfileResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /auth/logout:
    post:
      summary: Logout user and invalidate session
      operationId: logoutUser
      tags:
        - Authentication
      security:
        - BearerAuth: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefreshTokenRequest'
      responses:
        '200':
          description: Logged out successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardActionResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/InternalServerError'

  # ==========================================
  # USERS & PROFILES
  # ==========================================
  /users/username/check:
    get:
      summary: Check if a username is available or taken
      description: Validates username format, length, reserved words, and uniqueness in real-time.
      operationId: checkUsernameAvailability
      tags:
        - Users
      parameters:
        - name: username
          in: query
          required: true
          description: Username to check (3-30 characters, lowercase alphanumeric and underscore)
          schema:
            type: string
            example: wahyu_pratama
      responses:
        '200':
          description: Username availability status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckUsernameResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '429':
          $ref: '#/components/responses/TooManyRequestsError'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /users/me:
    get:
      summary: Get current authenticated user profile
      description: Returns full user profile including username, email, travel style, preferences, and metadata.
      operationId: getCurrentUserProfile
      tags:
        - Users
      security:
        - BearerAuth: []
      responses:
        '200':
          description: User profile retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProfileResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/InternalServerError'
    patch:
      summary: Update current authenticated user profile
      description: Updates username, name, avatarUrl, phone, bio, travel style, and preferences.
      operationId: updateCurrentUserProfile
      tags:
        - Users
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateProfileRequest'
      responses:
        '200':
          description: User profile updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateProfileResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '409':
          description: Username already taken
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                success: false
                message: "Username is already taken"
                errorCode: "USERNAME_ALREADY_EXISTS"
        '500':
          $ref: '#/components/responses/InternalServerError'

  /users/{userId}/posts:
    get:
      summary: Get feed posts created by a specific user (Public Profile Feed)
      description: Retrieves timeline of posts published by the specified user with cursor pagination.
      operationId: getUserFeedPosts
      tags:
        - Users
        - Feeds & Community
      security:
        - BearerAuth: []
        - {}
      parameters:
        - name: userId
          in: path
          required: true
          description: Unique user ID
          schema:
            type: string
            example: usr_traveler_demo_01
        - name: cursor
          in: query
          required: false
          description: Next page cursor token
          schema:
            type: string
        - name: limit
          in: query
          required: false
          description: Number of items per page (default 20, max 50)
          schema:
            type: integer
            default: 20
        - name: order
          in: query
          required: false
          description: Sorting order
          schema:
            type: string
            enum: [asc, desc]
            default: desc
      responses:
        '200':
          description: User feed posts retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeedPostListResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '500':
          $ref: '#/components/responses/InternalServerError'

  # ==========================================
  # DESTINATIONS
  # ==========================================
  /destinations:
    get:
      summary: Get list of destinations with filtering and pagination
      operationId: getDestinations
      tags:
        - Destinations
      parameters:
        - name: page
          in: query
          description: Page number (1-based)
          required: false
          schema:
            type: integer
            default: 1
            minimum: 1
        - name: limit
          in: query
          description: Number of items per page
          required: false
          schema:
            type: integer
            default: 10
            minimum: 1
            maximum: 100
        - name: category
          in: query
          description: Filter by category slug (e.g. beach, waterfall, mountain, culture, gili)
          required: false
          schema:
            type: string
        - name: region
          in: query
          description: Filter by region in Lombok
          required: false
          schema:
            $ref: '#/components/schemas/LombokRegion'
        - name: sort_by
          in: query
          description: Field to sort by
          required: false
          schema:
            type: string
            enum: [popular, rating, name, price_asc, price_desc]
            default: popular
        - name: order
          in: query
          description: Sort order
          required: false
          schema:
            type: string
            enum: [asc, desc]
            default: desc
      responses:
        '200':
          description: Successful response with caching and pagination metadata
          headers:
            Cache-Control:
              schema:
                type: string
                example: "public, max-age=60, stale-while-revalidate=30"
              description: HTTP caching policy (public for guest users, private for authenticated users)
            Vary:
              schema:
                type: string
                example: "Authorization, Accept-Encoding"
              description: Informs HTTP caches that response content varies by Authorization header
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DestinationListResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /destinations/{id}/favorite:
    post:
      summary: Toggle destination favorite status for current user
      description: |
        Toggles favorite state on the destination.
        - If the destination is not yet favorited: Adds to favorites and returns isFavorite: true.
        - If the destination is already favorited: Removes from favorites and returns isFavorite: false.
      operationId: toggleDestinationFavorite
      tags:
        - Destinations
        - Favorites
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: Unique identifier or slug of the destination
          schema:
            type: string
            example: "dest_tanjung_aan"
      responses:
        '200':
          description: Favorite status toggled successfully
          content:
            application/json:
              schema:
                type: object
                required:
                  - success
                  - message
                  - data
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "Destination added to favorites successfully"
                  data:
                    type: object
                    required:
                      - destinationId
                      - destinationName
                      - isFavorite
                    properties:
                      destinationId:
                        type: string
                        example: "dest_tanjung_aan"
                      destinationName:
                        type: string
                        example: "Pantai Tanjung Aan"
                      isFavorite:
                        type: boolean
                        example: true
                      destination:
                        $ref: '#/components/schemas/DestinationDto'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError'
    get:
      summary: Get favorite status of destination for current user
      operationId: getDestinationFavoriteStatus
      tags:
        - Destinations
        - Favorites
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: Unique identifier or slug of the destination
          schema:
            type: string
            example: "dest_tanjung_aan"
      responses:
        '200':
          description: Favorite status retrieved successfully
          content:
            application/json:
              schema:
                type: object
                required:
                  - success
                  - message
                  - data
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "Success fetching favorite status"
                  data:
                    type: object
                    required:
                      - destinationId
                      - destinationName
                      - isFavorite
                    properties:
                      destinationId:
                        type: string
                        example: "dest_tanjung_aan"
                      destinationName:
                        type: string
                        example: "Pantai Tanjung Aan"
                      isFavorite:
                        type: boolean
                        example: true
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      summary: Explicitly remove destination from user favorites
      operationId: removeDestinationFavoriteById
      tags:
        - Destinations
        - Favorites
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: Unique identifier or slug of the destination
          schema:
            type: string
            example: "dest_tanjung_aan"
      responses:
        '200':
          description: Destination removed from favorites successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardActionResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /destinations/{id}:
    get:
      summary: Get destination detail by ID
      operationId: getDestinationById
      tags:
        - Destinations
      parameters:
        - name: id
          in: path
          required: true
          description: Unique identifier of the destination
          schema:
            type: string
            example: "dest_tanjung_aan"
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DestinationDetailResponse'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /destinations/featured:
    get:
      summary: Get featured & trending destinations for hero banner and highlights
      operationId: getFeaturedDestinations
      tags:
        - Destinations
      parameters:
        - name: limit
          in: query
          description: Maximum number of featured destinations
          required: false
          schema:
            type: integer
            default: 5
            maximum: 20
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DestinationListResponse'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /destinations/nearby:
    get:
      summary: Get destinations near specific coordinates
      operationId: getNearbyDestinations
      tags:
        - Destinations
      parameters:
        - name: latitude
          in: query
          required: true
          description: Current latitude
          schema:
            type: number
            format: double
            example: -8.8925
        - name: longitude
          in: query
          required: true
          description: Current longitude
          schema:
            type: number
            format: double
            example: 116.3150
        - name: radius_km
          in: query
          required: false
          description: Radius in kilometers
          schema:
            type: number
            default: 25.0
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 10
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NearbyDestinationListResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '500':
          $ref: '#/components/responses/InternalServerError'

  # ==========================================
  # CATEGORIES
  # ==========================================
  /categories:
    get:
      summary: Get list of all travel categories
      operationId: getCategories
      tags:
        - Categories
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoryListResponse'
        '500':
          $ref: '#/components/responses/InternalServerError'

  # ==========================================
  # SEARCH
  # ==========================================
  /destinations/search:
    get:
      summary: Search destinations by keyword and multifaceted filters
      operationId: searchDestinations
      tags:
        - Search
      parameters:
        - name: q
          in: query
          required: true
          description: Search keyword query
          schema:
            type: string
            example: "mandalika"
        - name: category
          in: query
          required: false
          schema:
            type: string
        - name: region
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/LombokRegion'
        - name: min_rating
          in: query
          required: false
          schema:
            type: number
            format: float
            minimum: 1.0
            maximum: 5.0
            example: 4.5
        - name: max_price
          in: query
          required: false
          description: Maximum entrance fee in IDR
          schema:
            type: number
            example: 50000
        - name: page
          in: query
          required: false
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 10
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DestinationListResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '500':
          $ref: '#/components/responses/InternalServerError'

  # ==========================================
  # RECOMMENDATIONS
  # ==========================================
  /recommendations:
    get:
      summary: Get curated recommendations based on user travel persona and preferences
      operationId: getRecommendations
      tags:
        - Recommendations
      parameters:
        - name: travel_style
          in: query
          description: Primary travel preference style
          required: false
          schema:
            $ref: '#/components/schemas/TravelStyle'
        - name: duration_days
          in: query
          description: Planned trip length in days
          required: false
          schema:
            type: integer
            default: 3
        - name: budget_level
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/BudgetLevel'
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 6
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecommendationResponse'
        '500':
          $ref: '#/components/responses/InternalServerError'

  # ==========================================
  # ITINERARY
  # ==========================================
  /itineraries/generate:
    post:
      summary: Generate smart auto-itinerary based on days, preferences, and pace
      operationId: generateItinerary
      tags:
        - Itinerary
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateItineraryRequest'
      responses:
        '200':
          description: Generated itinerary plan
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItineraryDetailResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /itineraries:
    get:
      summary: Get user saved/created itineraries
      operationId: getItineraries
      tags:
        - Itinerary
      security:
        - BearerAuth: []
      responses:
        '200':
          description: List of user itineraries
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItineraryListResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      summary: Create a custom itinerary
      operationId: createItinerary
      tags:
        - Itinerary
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateItineraryRequest'
      responses:
        '201':
          description: Itinerary created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItineraryDetailResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /itineraries/{id}:
    get:
      summary: Get itinerary detail by ID
      operationId: getItineraryById
      tags:
        - Itinerary
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Itinerary details with days and activities
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItineraryDetailResponse'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError'
    put:
      summary: Update existing itinerary
      operationId: updateItinerary
      tags:
        - Itinerary
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateItineraryRequest'
      responses:
        '200':
          description: Itinerary updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItineraryDetailResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      summary: Delete an itinerary
      operationId: deleteItinerary
      tags:
        - Itinerary
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Itinerary deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardActionResponse'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /itineraries/{id}/stops:
    post:
      summary: Add a destination stop into trip itinerary
      operationId: addTripStop
      tags:
        - Itinerary
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - destinationId
                - dayNumber
              properties:
                destinationId:
                  type: string
                  example: "dest_desa_sade"
                dayNumber:
                  type: integer
                  default: 1
                activityNotes:
                  type: string
                  example: "Belajar menenun songket Sasak"
      responses:
        '200':
          description: Stop added successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItineraryDetailResponse'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /itineraries/{id}/stops/reorder:
    put:
      summary: Reorder trip stops within a specific day (Drag and drop reordering)
      operationId: reorderTripStops
      tags:
        - Itinerary
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - dayNumber
                - fromIndex
                - toIndex
              properties:
                dayNumber:
                  type: integer
                  example: 1
                fromIndex:
                  type: integer
                  example: 0
                toIndex:
                  type: integer
                  example: 2
      responses:
        '200':
          description: Stops reordered and itinerary recalculated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItineraryDetailResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /itineraries/{id}/optimize:
    post:
      summary: Smart route and timing optimization for a day itinerary
      operationId: optimizeItineraryRoute
      tags:
        - Itinerary
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - dayNumber
              properties:
                dayNumber:
                  type: integer
                  example: 1
                startFromAirport:
                  type: boolean
                  default: true
      responses:
        '200':
          description: Optimized itinerary route
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItineraryDetailResponse'
        '500':
          $ref: '#/components/responses/InternalServerError'

  # ==========================================
  # FAVORITES
  # ==========================================
  /favorites:
    get:
      summary: Get all saved favorite destinations for the current user
      operationId: getFavorites
      tags:
        - Favorites
      security:
        - BearerAuth: []
      responses:
        '200':
          description: List of favorite destinations
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DestinationListResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /favorites/{destinationId}:
    post:
      summary: Add destination to favorites
      operationId: addFavorite
      tags:
        - Favorites
      security:
        - BearerAuth: []
      parameters:
        - name: destinationId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Destination added to favorites
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardActionResponse'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      summary: Remove destination from favorites
      operationId: removeFavorite
      tags:
        - Favorites
      security:
        - BearerAuth: []
      parameters:
        - name: destinationId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Destination removed from favorites
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardActionResponse'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError'



  # ==========================================
  # RESTAURANTS
  # ==========================================
  /restaurants:
    get:
      summary: Get local culinary spots & restaurants in Lombok
      operationId: getRestaurants
      tags:
        - Culinary
      parameters:
        - name: region
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/LombokRegion'
        - name: cuisine
          in: query
          description: Cuisine type (e.g. sasak, seafood, vegetarian, western, cafe)
          required: false
          schema:
            type: string
        - name: search
          in: query
          required: false
          schema:
            type: string
        - name: page
          in: query
          required: false
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 10
      responses:
        '200':
          description: List of culinary places
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestaurantListResponse'
        '500':
          $ref: '#/components/responses/InternalServerError'

  # ==========================================
  # ACCOMMODATIONS
  # ==========================================
  /accommodations:
    get:
      summary: Get curated hotels, resorts, and villas in Lombok
      operationId: getAccommodations
      tags:
        - Accommodations
      parameters:
        - name: region
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/LombokRegion'
        - name: type
          in: query
          required: false
          schema:
            type: string
            enum: [resort, villa, hotel, homestay, glamping]
        - name: min_price
          in: query
          required: false
          schema:
            type: number
        - name: max_price
          in: query
          required: false
          schema:
            type: number
        - name: page
          in: query
          required: false
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 10
      responses:
        '200':
          description: List of accommodations
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccommodationListResponse'
        '500':
          $ref: '#/components/responses/InternalServerError'

  # ==========================================
  # REVIEWS
  # ==========================================
  /destinations/{id}/reviews:
    get:
      summary: Get reviews for a specific destination
      operationId: getDestinationReviews
      tags:
        - Reviews
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: page
          in: query
          required: false
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 10
        - name: sort_by
          in: query
          required: false
          schema:
            type: string
            enum: [recent, highest_rating, lowest_rating]
            default: recent
      responses:
        '200':
          description: Destination reviews
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReviewListResponse'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      summary: Submit a new review for a destination
      operationId: submitDestinationReview
      tags:
        - Reviews
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateReviewRequest'
      responses:
        '201':
          description: Review submitted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReviewDetailResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /reviews/{id}:
    put:
      summary: Update an existing review
      description: Update review rating, content, or photos. User can only edit their own reviews.
      operationId: updateReview
      tags:
        - Reviews
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Review unique identifier (UUID)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateReviewRequest'
      responses:
        '200':
          description: Review updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReviewDetailResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      summary: Delete a review
      description: Soft delete a review. User can only delete their own reviews (or Admin).
      operationId: deleteReview
      tags:
        - Reviews
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Review unique identifier (UUID)
      responses:
        '200':
          description: Review deleted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionSuccessResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError'

  # ==========================================
  # EXPENSES
  # ==========================================
  /expenses:
    get:
      summary: Get user expense records
      operationId: getExpenses
      tags:
        - Expenses
      security:
        - BearerAuth: []
      parameters:
        - name: category
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: List of expenses
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ExpenseDto'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
    post:
      summary: Create new expense item
      operationId: createExpense
      tags:
        - Expenses
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateExpenseRequest'
      responses:
        '201':
          description: Expense created
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    $ref: '#/components/schemas/ExpenseDto'

  # ==========================================
  # JOURNALS
  # ==========================================
  /journals:
    get:
      summary: Get user travel journals
      operationId: getJournals
      tags:
        - Journals
      security:
        - BearerAuth: []
      responses:
        '200':
          description: List of travel journals
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/TravelJournalDto'
    post:
      summary: Create new travel journal entry
      operationId: createJournal
      tags:
        - Journals
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateJournalRequest'
      responses:
        '201':
          description: Journal entry created
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    $ref: '#/components/schemas/TravelJournalDto'

  # ==========================================
  # CHECKLISTS
  # ==========================================
  /checklists:
    get:
      summary: Get user travel packing checklists
      operationId: getChecklists
      tags:
        - Checklists
      security:
        - BearerAuth: []
      responses:
        '200':
          description: List of packing checklists
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ChecklistDto'
    post:
      summary: Create custom checklist
      operationId: createChecklist
      tags:
        - Checklists
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - title
              properties:
                title:
                  type: string
                  example: "Perlengkapan Snorkeling Gili"
      responses:
        '201':
          description: Checklist created
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    $ref: '#/components/schemas/ChecklistDto'

  # ==========================================
  # FEEDS & COMMUNITY SOCIAL MODULE
  # ==========================================
  /feeds/destinations/search:
    get:
      summary: Search destinations for post location attachment
      operationId: searchFeedDestinations
      tags:
        - Feeds & Community
      parameters:
        - name: q
          in: query
          description: Destination name search keyword (min 2 characters)
          required: true
          schema:
            type: string
            minLength: 2
            example: merese
      responses:
        '200':
          description: List of matching destinations
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: dest_bukit_merese
                        name:
                          type: string
                          example: Bukit Merese
                        slug:
                          type: string
                          example: bukit-merese
                        location:
                          type: string
                          example: Lombok Selatan
                        latitude:
                          type: number
                          example: -8.9138
                        longitude:
                          type: number
                          example: 116.3155
                        coverImage:
                          type: string
                          nullable: true
                          example: https://images.unsplash.com/photo-1507525428034-b723cf961d3e
        '400':
          $ref: '#/components/responses/BadRequestError'

  /feeds/bookmarks:
    get:
      summary: Get user saved/bookmarked feed posts (Cursor pagination)
      operationId: getUserFeedBookmarks
      tags:
        - Feeds & Community
      security:
        - BearerAuth: []
      parameters:
        - name: limit
          in: query
          description: Number of items per page (1-50, default 20)
          schema:
            type: integer
            default: 20
        - name: cursor
          in: query
          description: Base64 cursor for infinite scroll
          schema:
            type: string
      responses:
        '200':
          description: Bookmarked posts retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeedPostListResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /feeds/users/{userId}:
    get:
      summary: Get feed posts by user ID
      operationId: getUserFeeds
      tags:
        - Feeds & Community
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
        - name: cursor
          in: query
          schema:
            type: string
      responses:
        '200':
          description: User posts retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeedPostListResponse'

  /feeds:
    get:
      summary: Get social timeline feed posts (Infinite scroll with cursor pagination)
      operationId: getFeedTimeline
      tags:
        - Feeds & Community
      parameters:
        - name: limit
          in: query
          description: Number of posts per request (1-50, default 20)
          schema:
            type: integer
            default: 20
        - name: cursor
          in: query
          description: Cursor for next page
          schema:
            type: string
        - name: tag
          in: query
          description: Filter by hashtag
          schema:
            type: string
        - name: destinationId
          in: query
          description: Filter by destination ID
          schema:
            type: string
      responses:
        '200':
          description: Feed posts retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeedPostListResponse'

  /feeds/posts:
    post:
      summary: Create a new travel feed post
      operationId: createFeedPost
      tags:
        - Feeds & Community
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePostRequest'
      responses:
        '201':
          description: Feed post created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeedPostDetailResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /feeds/posts/{id}:
    get:
      summary: Get single feed post details
      operationId: getFeedPostById
      tags:
        - Feeds & Community
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Feed post detail retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeedPostDetailResponse'
        '404':
          $ref: '#/components/responses/NotFoundError'
    put:
      summary: Update feed post (Owner only)
      operationId: updateFeedPostPut
      tags:
        - Feeds & Community
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePostRequest'
      responses:
        '200':
          description: Feed post updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeedPostDetailResponse'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
    patch:
      summary: Update feed post (Partial update, Owner only)
      operationId: updateFeedPostPatch
      tags:
        - Feeds & Community
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePostRequest'
      responses:
        '200':
          description: Feed post updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeedPostDetailResponse'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
    delete:
      summary: Delete feed post (Owner or Admin only)
      operationId: deleteFeedPost
      tags:
        - Feeds & Community
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Post deleted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardActionResponse'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'

  /feeds/posts/{id}/like:
    post:
      summary: Like a post
      operationId: likeFeedPost
      tags:
        - Feeds & Community
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Post liked successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeedLikeResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
    delete:
      summary: Unlike a post
      operationId: unlikeFeedPost
      tags:
        - Feeds & Community
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Post unliked successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeedLikeResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'

  /feeds/posts/{id}/comments:
    get:
      summary: Get comments for a post (Cursor pagination)
      operationId: getFeedPostComments
      tags:
        - Feeds & Community
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
        - name: cursor
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Comments retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeedCommentListResponse'
    post:
      summary: Add a comment to a post
      operationId: addFeedPostComment
      tags:
        - Feeds & Community
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCommentRequest'
      responses:
        '201':
          description: Comment added successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeedCommentDetailResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'

  /feeds/comments/{commentId}:
    delete:
      summary: Delete a comment (Author, Post Owner, or Admin)
      operationId: deleteFeedComment
      tags:
        - Feeds & Community
      security:
        - BearerAuth: []
      parameters:
        - name: commentId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Comment deleted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardActionResponse'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'

  /feeds/posts/{id}/bookmark:
    post:
      summary: Bookmark/save a post
      operationId: bookmarkFeedPost
      tags:
        - Feeds & Community
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Post bookmarked successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeedBookmarkResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
    delete:
      summary: Remove post from bookmarks
      operationId: unbookmarkFeedPost
      tags:
        - Feeds & Community
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Post removed from bookmarks successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeedBookmarkResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'

  /feeds/posts/{id}/share:
    post:
      summary: Share post / increment share counter
      operationId: shareFeedPost
      tags:
        - Feeds & Community
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Post shared successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeedShareResponse'
        '404':
          $ref: '#/components/responses/NotFoundError'

  /feeds/posts/{id}/report:
    post:
      summary: Report inappropriate feed post to Admin moderation
      operationId: reportFeedPost
      tags:
        - Feeds & Community
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateReportRequest'
      responses:
        '201':
          description: Report submitted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeedReportResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'

  # ==========================================
  # DEVICE MANAGEMENT & FCM PUSH NOTIFICATIONS
  # ==========================================
  /devices/fcm-token:
    post:
      summary: Register or refresh FCM device token
      description: |
        Mendaftarkan atau memperbarui Firebase Cloud Messaging (FCM) device token milik pengguna yang sedang login.
        Mendukung multi-device, upsert token otomatis, dan pelacakan platform (`ANDROID`, `IOS`, `WEB`).
      operationId: registerDeviceToken
      tags:
        - Device Tokens
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterDeviceTokenRequest'
      responses:
        '200':
          description: Device token registered successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceTokenResponse'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

    delete:
      summary: Deactivate or remove FCM device token
      description: |
        Menonaktifkan token perangkat saat pengguna logout atau mematikan notifikasi pada perangkat tersebut.
      operationId: deactivateDeviceToken
      tags:
        - Device Tokens
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeactivateDeviceTokenRequest'
      responses:
        '200':
          description: Device token deactivated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionSuccessResponse'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  # ==========================================
  # IN-APP NOTIFICATIONS & READ STATES
  # ==========================================
  /notifications:
    get:
      summary: Get user notifications (Paginated, Unread Filter)
      description: |
        Mengambil daftar notifikasi in-app untuk pengguna yang sedang login, terurut dari yang paling baru.
        Mendukung filter `unreadOnly=true` serta paginasi (`page` & `limit`).
      operationId: getUserNotifications
      tags:
        - Notifications
      security:
        - BearerAuth: []
      parameters:
        - name: page
          in: query
          description: Halaman data (dimulai dari 1)
          schema:
            type: integer
            default: 1
            minimum: 1
        - name: limit
          in: query
          description: Jumlah notifikasi per halaman (maksimum 50)
          schema:
            type: integer
            default: 20
            maximum: 50
        - name: unreadOnly
          in: query
          description: Filter hanya notifikasi yang belum dibaca (`true`/`false`)
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: Notifications retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationListResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /notifications/unread-count:
    get:
      summary: Get unread notifications count
      description: |
        Mengambil jumlah total notifikasi yang belum dibaca oleh pengguna login untuk badge counter pada aplikasi mobile / frontend.
      operationId: getUnreadNotificationCount
      tags:
        - Notifications
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Unread count retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnreadNotificationCountResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /notifications/{id}/read:
    patch:
      summary: Mark single notification as read
      description: |
        Menandai sebuah notifikasi spesifik milik pengguna sebagai telah dibaca (`isRead: true`).
      operationId: markNotificationAsRead
      tags:
        - Notifications
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: ID notifikasi
          schema:
            type: string
      responses:
        '200':
          description: Notification marked as read
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: Notification marked as read
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: "c4b12345-6789-abcd-ef01-23456789abcd"
                      isRead:
                        type: boolean
                        example: true
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'

  /notifications/read-all:
    patch:
      summary: Mark all unread notifications as read
      description: |
        Menandai seluruh notifikasi milik pengguna yang belum dibaca menjadi telah dibaca sekaligus.
      operationId: markAllNotificationsAsRead
      tags:
        - Notifications
      security:
        - BearerAuth: []
      responses:
        '200':
          description: All notifications marked as read successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: All notifications marked as read successfully
                  data:
                    type: object
                    properties:
                      count:
                        type: integer
                        example: 5
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  # ==========================================
  # CENTRALIZED MEDIA STORAGE & CLOUDINARY
  # ==========================================
  /media/images:
    post:
      tags:
        - Media Storage
      summary: Upload Single Image
      description: |
        Uploads a single image to Cloudinary centralized media storage with automatic optimization (f_auto, q_auto)
        and generates responsive variants (thumbnail, card, cover).
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - file
              properties:
                file:
                  type: string
                  format: binary
                  description: Binary image file (JPEG, PNG, WEBP, GIF, SVG, max 5MB)
                type:
                  type: string
                  enum: [DESTINATION, ITINERARY, ACTIVITY, PROFILE, CATEGORY, FEED, GENERAL]
                  default: GENERAL
                  description: Target entity classification for folder structure
                entityId:
                  type: string
                  description: Optional ID of the associated entity
                folder:
                  type: string
                  description: Optional custom subfolder path
      responses:
        '201':
          description: Image uploaded successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: Image uploaded successfully
                  data:
                    type: object
                    properties:
                      url:
                        type: string
                        example: https://res.cloudinary.com/tzccdgab/image/upload/f_auto,q_auto/lombok-explorer/destinations/merese.webp
                      secureUrl:
                        type: string
                        example: https://res.cloudinary.com/tzccdgab/image/upload/f_auto,q_auto/lombok-explorer/destinations/merese.webp
                      publicId:
                        type: string
                        example: lombok-explorer/destinations/merese
                      filename:
                        type: string
                        example: merese.webp
                      originalName:
                        type: string
                        example: merese_sunset.jpg
                      mimeType:
                        type: string
                        example: image/jpeg
                      size:
                        type: integer
                        example: 245890
                      width:
                        type: integer
                        example: 1920
                      height:
                        type: integer
                        example: 1080
                      format:
                        type: string
                        example: webp
                      provider:
                        type: string
                        example: Cloudinary
                      variants:
                        type: object
                        properties:
                          thumbnail:
                            type: string
                            example: https://res.cloudinary.com/tzccdgab/image/upload/w_200,h_200,c_fill,f_auto,q_auto/lombok-explorer/destinations/merese.webp
                          card:
                            type: string
                            example: https://res.cloudinary.com/tzccdgab/image/upload/w_600,h_400,c_fill,f_auto,q_auto/lombok-explorer/destinations/merese.webp
                          cover:
                            type: string
                            example: https://res.cloudinary.com/tzccdgab/image/upload/w_1200,h_675,c_fill,f_auto,q_auto/lombok-explorer/destinations/merese.webp
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

    delete:
      tags:
        - Media Storage
      summary: Delete Stored Media
      description: Deletes an asset from Cloudinary storage by its publicId or URL.
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                publicId:
                  type: string
                  example: lombok-explorer/destinations/merese
                fileUrl:
                  type: string
                  example: https://res.cloudinary.com/tzccdgab/image/upload/lombok-explorer/destinations/merese.webp
      responses:
        '200':
          description: Image deleted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionSuccessResponse'

  /media/images/multiple:
    post:
      tags:
        - Media Storage
      summary: Upload Multiple Images
      description: Uploads up to 10 images concurrently to Cloudinary.
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - files
              properties:
                files:
                  type: array
                  items:
                    type: string
                    format: binary
                type:
                  type: string
                  enum: [DESTINATION, ITINERARY, ACTIVITY, PROFILE, CATEGORY, FEED, GENERAL]
      responses:
        '201':
          description: Images uploaded successfully

  /users/me/avatar:
    post:
      tags:
        - Users
      summary: Upload Current User Avatar
      description: Uploads new profile avatar to Cloudinary, updates user record, and cleans up previous avatar asset.
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - file
              properties:
                file:
                  type: string
                  format: binary
      responses:
        '200':
          description: Avatar uploaded successfully

# ==========================================
# COMPONENTS & SCHEMAS
# ==========================================
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Enter JWT Bearer token for authorized requests

  responses:
    BadRequestError:
      description: Invalid request parameters or body
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            success: false
            message: "Invalid query parameters"
            errorCode: "BAD_REQUEST"
    UnauthorizedError:
      description: Authentication is required
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            success: false
            message: "Unauthorized access, please login"
            errorCode: "UNAUTHORIZED"
    ForbiddenError:
      description: Forbidden - Insufficient permissions or role requirement
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            success: false
            message: "You do not have permission to access this resource"
            errorCode: "FORBIDDEN"
    NotFoundError:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            success: false
            message: "Destination not found"
            errorCode: "NOT_FOUND"
    ConflictError:
      description: Conflict with existing resource
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            success: false
            message: "Resource already exists"
            errorCode: "CONFLICT"
    TooManyRequestsError:
      description: Rate limit exceeded
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            success: false
            message: "Too many requests, please try again later"
            errorCode: "RATE_LIMIT_EXCEEDED"
    InternalServerError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            success: false
            message: "Internal server error occurred"
            errorCode: "INTERNAL_SERVER_ERROR"
    ActionSuccessResponse:
      description: Action completed successfully
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ActionSuccessResponse'
          example:
            success: true
            message: "Action completed successfully"

  schemas:
    # --- COMMON / META SCHEMAS ---
    PaginationMeta:
      type: object
      required:
        - page
        - limit
        - total
        - totalPages
        - currentPage
        - totalCount
        - hasNextPage
        - hasPrevPage
      properties:
        page:
          type: integer
          example: 1
        limit:
          type: integer
          example: 10
        total:
          type: integer
          example: 28
        totalPages:
          type: integer
          example: 3
        currentPage:
          type: integer
          description: Current page number (alias of page for Android pagination)
          example: 1
        totalCount:
          type: integer
          description: Total number of items (alias of total for Android pagination)
          example: 28
        hasNextPage:
          type: boolean
          description: Indicates whether there is another page available (useful for infinite scroll)
          example: true
        hasPrevPage:
          type: boolean
          description: Indicates whether there is a preceding page
          example: false

    ErrorResponse:
      type: object
      required:
        - success
        - message
        - errorCode
      properties:
        success:
          type: boolean
          example: false
        message:
          type: string
          example: "Resource not found"
        errorCode:
          type: string
          example: "DESTINATION_NOT_FOUND"
        details:
          type: array
          items:
            type: string
          nullable: true

    ForbiddenError:
      type: object
      required:
        - success
        - message
        - errorCode
      properties:
        success:
          type: boolean
          example: false
        message:
          type: string
          example: "You do not have permission to access this resource"
        errorCode:
          type: string
          example: "FORBIDDEN"
        details:
          type: array
          items:
            type: string
          nullable: true

    ActionSuccessResponse:
      type: object
      required:
        - success
        - message
      properties:
        success:
          type: boolean
          example: true
        message:
          type: string
          example: "Action completed successfully"

    StandardActionResponse:
      type: object
      required:
        - success
        - message
      properties:
        success:
          type: boolean
          example: true
        message:
          type: string
          example: "Operation completed successfully"

    # --- ENUMS ---
    LombokRegion:
      type: string
      enum:
        - LOMBOK_SELATAN   # Kuta, Mandalika, Tanjung Aan, Merese, Mawun, Selong Belanak
        - LOMBOK_UTARA     # Senaru, Rinjani, Tiu Kelep, Bayan, Gili Islands
        - LOMBOK_BARAT     # Senggigi, Malimbu, Sekotong, Batu Layar
        - LOMBOK_TIMUR     # Sembalun, Pink Beach, Tetebatu
        - LOMBOK_TENGAH    # Sade, Sukarara, Praya
        - GILI_ISLANDS     # Trawangan, Meno, Air
      example: "LOMBOK_SELATAN"

    DifficultyLevel:
      type: string
      enum:
        - EASY
        - MODERATE
        - CHALLENGING
        - EXTREME
      example: "EASY"

    TravelStyle:
      type: string
      enum:
        - NATURE_ADVENTURE
        - BEACH_RELAXATION
        - CULTURE_HERITAGE
        - CULINARY_EXPLORER
        - PHOTOGRAPHY_SPOTS
        - FAMILY_FRIENDLY
      example: "BEACH_RELAXATION"

    BudgetLevel:
      type: string
      enum:
        - BUDGET
        - MID_RANGE
        - LUXURY
      example: "MID_RANGE"

    # --- AUTH & USER SCHEMAS ---
    UserRole:
      type: string
      enum:
        - USER
        - ADMIN
      example: "USER"

    UserDto:
      type: object
      required:
        - id
        - username
        - email
        - name
        - role
        - travelStyle
        - createdAt
        - updatedAt
      properties:
        id:
          type: string
          example: "usr_demo_lombok"
        username:
          type: string
          example: "wahyu_traveler"
        email:
          type: string
          format: email
          example: "traveler@lombokexplorer.com"
        name:
          type: string
          example: "Wahyu Traveler"
        avatarUrl:
          type: string
          nullable: true
          example: "https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?q=80&w=200"
        bio:
          type: string
          nullable: true
          example: "Travel enthusiast passionate about exploring tropical beaches & waterfalls."
        phone:
          type: string
          nullable: true
          example: "+6281234567890"
        role:
          $ref: '#/components/schemas/UserRole'
        travelStyle:
          $ref: '#/components/schemas/TravelStyle'
        preferences:
          type: array
          items:
            type: string
          example: ["Snorkeling", "Sunset Point", "Culinary"]
        createdAt:
          type: string
          format: date-time
          example: "2026-08-23T08:00:00.000Z"
        updatedAt:
          type: string
          format: date-time
          example: "2026-08-23T08:00:00.000Z"

    RegisterRequest:
      type: object
      required:
        - username
        - name
        - email
        - password
      properties:
        username:
          type: string
          minLength: 3
          maxLength: 30
          pattern: '^[a-z0-9_]{3,30}$'
          example: "wahyu_traveler"
        name:
          type: string
          minLength: 2
          maxLength: 100
          example: "Wahyu Traveler"
        email:
          type: string
          format: email
          example: "traveler@lombokexplorer.com"
        password:
          type: string
          minLength: 6
          example: "SuperSecret123!"
        travelStyle:
          $ref: '#/components/schemas/TravelStyle'
        bio:
          type: string
          maxLength: 500
          example: "Travel enthusiast passionate about exploring tropical beaches & waterfalls."
        avatarUrl:
          type: string
          example: "https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?q=80&w=200"
        phone:
          type: string
          example: "+6281234567890"

    LoginRequest:
      type: object
      required:
        - password
      properties:
        identifier:
          type: string
          description: User email address or username
          example: "wahyu_traveler"
        email:
          type: string
          format: email
          description: Legacy email credential field
          example: "traveler@lombokexplorer.com"
        username:
          type: string
          description: Username credential field
          example: "wahyu_traveler"
        password:
          type: string
          example: "SuperSecret123!"

    RefreshTokenRequest:
      type: object
      required:
        - refreshToken
      properties:
        refreshToken:
          type: string
          example: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."

    GoogleAuthRequest:
      type: object
      required:
        - idToken
      properties:
        idToken:
          type: string
          description: Raw Google ID Token string obtained from Google Sign-In SDK
          example: "eyJhbGciOiJSUzI1NiIsImtpZCI6IjEyMzQ1NiJ9..."

    GoogleAuthData:
      type: object
      required:
        - status
        - accessToken
        - refreshToken
        - expiresIn
        - user
      properties:
        status:
          type: string
          enum:
            - LOGIN_SUCCESS
            - NEED_REGISTRATION
          example: "LOGIN_SUCCESS"
        accessToken:
          type: string
          example: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
        refreshToken:
          type: string
          example: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
        expiresIn:
          type: integer
          example: 900
        tokenType:
          type: string
          example: "Bearer"
        user:
          $ref: '#/components/schemas/UserDto'

    GoogleAuthResponse:
      type: object
      required:
        - success
        - message
        - data
      properties:
        success:
          type: boolean
          example: true
        message:
          type: string
          example: "Login successful"
        data:
          type: object
          properties:
            status:
              type: string
              enum:
                - LOGIN_SUCCESS
                - REGISTRATION_REQUIRED
              example: "LOGIN_SUCCESS"
            accessToken:
              type: string
              example: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
            refreshToken:
              type: string
              example: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
            expiresIn:
              type: integer
              example: 900
            tokenType:
              type: string
              example: "Bearer"
            registrationToken:
              type: string
              example: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
            profile:
              type: object
              properties:
                name:
                  type: string
                  example: "Wahyu Traveler"
                email:
                  type: string
                  example: "traveler@example.com"
                avatarUrl:
                  type: string
                  nullable: true
                  example: "https://lh3.googleusercontent.com/a/photo"
            user:
              $ref: '#/components/schemas/UserDto'

    CompleteGoogleRegistrationRequest:
      type: object
      required:
        - registrationToken
        - username
        - password
      properties:
        registrationToken:
          type: string
          description: Short-lived signed registration token from POST /auth/google
          example: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
        username:
          type: string
          minLength: 3
          maxLength: 30
          pattern: '^[a-z0-9_]{3,30}$'
          description: Unique public username identifier
          example: "wahyu_pratama"
        name:
          type: string
          minLength: 2
          maxLength: 100
          description: User's full name (prefilled on Android from Google Profile, editable)
          example: "Wahyu Pratama"
        password:
          type: string
          minLength: 6
          maxLength: 100
          description: User password (minimum 6 characters)
          example: "secure-password123"

    CheckUsernameResponse:
      type: object
      required:
        - success
        - message
        - data
      properties:
        success:
          type: boolean
          example: true
        message:
          type: string
          example: "Username availability status checked"
        data:
          type: object
          required:
            - username
[...]
